[submodule "vendor/LAGraph"]
	path = vendor/LAGraph
	url = https://github.com/GraphBLAS/LAGraph.git
[submodule "vendor/GraphBLAS"]
	path = vendor/GraphBLAS
	url = https://github.com/DrTimothyAldenDavis/GraphBLAS.git
